h1{
  color: black;
}

path{
  fill: none;
}

path.link {
  fill: none;
  stroke: #666666;
  stroke-width: 1.5px;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.route {
  fill: none;
  stroke: blue;
  stroke-width: 3px;
}

svg{
  border: 4px solid grey;
  box-sizing: border-box;
}
.background {
  fill: none;
  pointer-events: all;
}

#green{
  color: green
}
#yellow{
  color: yellow
}
#orange{
  color: orange 
}
#red{
  color: red  
}