h1{
  text-align: center;
  color: black;
}

path{
  fill: none;
}

path.link {
  fill: none;
  stroke: #666666;
  stroke-width: 1.5px;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.route {
  fill: none;
  stroke: blue;
  stroke-width: 3px;
}
div.origins_buttons {
        position: fixed;
        top: 5px;
        left: 50px;
        width: 70px;
      }

div.origins_buttons div {
  background-color: rgb(251, 201, 127);
  padding: 3px;
  margin: 7px;
}
svg{
  margin: auto;
}
.background {
  fill: none;
  pointer-events: all;
}